/*-- Global Selectors --*/
a {
  color: #47649f;
}

body {
  font-family: "helvetica";
}
h4 {
  font-size: 1.2rem;
}
p {
  font-size: 0.8rem;
}
p.post_owner {
  font-weight: 500;
  font-size: 1.1rem;
}
/*-- Bootstrap Override Style --*/

/*-- Content Style --*/

.post-img {
  width: 95%;
  height: 300px;
  padding: 1px;
  border: 1px solid #ccc;
  justify-content: center;
}

.post-img img:hover {
  cursor: pointer;
}
.post-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.post-body {
  width: 100%;
  word-wrap: break-word;
}
.post-footer-option ul {
  display: flex;
  margin-left: 30px;
}
.post-footer-option li {
  display: flex;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-footer-option li:hover {
  background-color: rgba(227, 236, 240, 0.733);
  cursor: pointer;
}
.post-footer-option li a {
  display: block;
  color: #6c7c99;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}

.photo-profile {
  border: 1px solid #ddd;
}

.anchor-username h4 {
  font-weight: bold;
}

.anchor-time {
  color: #adb2bb;
  font-size: 0.9rem;
}

.post-footer-comment-wrapper {
  background-color: #f6f7f8;
}
